
@{
    ViewBag.Title = "Anasayfa";
}

<!-- Ana Sayfa İçerik -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated">
                <br />
                <span class="subheading">My Choice Coffee</span>
                <h2 class="mb-4"></h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="menu-entry">
                    <a href="/Home/Kahvalti" class="img" style="background-image: url(/Content/img/main/kahvalti.jpg)"></a>
                    <div class="text text-center pt-4">
                        <h3><a href="/Home/Kahvalti">Kahvaltı</a></h3>
                        <p>Kahvaltı Tabağı, Sıcak Kahvaltı, Yöresel Serpme Kahvaltı, Omlet & Menemen, Yumurta </p>
                        <p><a href="/Home/Kahvalti" class="btn btn-primary btn-outline-primary">Sipariş Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-entry">
                    <a href="/Home/Baslangic" class="img" style="background-image: url(/Content/img/main/baslangiclar.jpg)"></a>
                    <div class="text text-center pt-4">
                        <h3><a href="/Home/Baslangic">Başlangıç</a></h3>
                        <p>Çorba, Patates, Cajun Chicken Basket, Combo Tabağı, Sigara Böreği</p>
                        <p><a href="/Home/Baslangiclar" class="btn btn-primary btn-outline-primary">Sipariş Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-entry">
                    <a href="/Home/Pizza" class="img" style="background-image: url(/Content/img/main/pizza.jpg) "></a>
                    <div class="text text-center pt-4">
                        <h3><a href="/Home/Pizza">Pizza</a></h3>
                        <p>Margarita, Vegetarian Pizza, BBQ Pizza, Extra, Mega Mix Pizza, Akdeniz Pizza </p>
                        <p><a href="/Home/Pizza" class="btn btn-primary btn-outline-primary">Sipariş Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-entry">
                    <a href="/Home/Burger" class="img" style="background-image: url(/Content/img/main/burger.jpeg)"></a>
                    <div class="text text-center pt-4">
                        <h3><a href="/Home/Burger">Burger</a></h3>
                        <p>Klasik Burger, Cheese Burger, Chicken Burger, BBQ Burger, Double Burger</p>
                        <p><a href="/Home/Burger" class="btn btn-primary btn-outline-primary">Sipariş Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-entry">
                    <a href="/Home/Makarna" class="img" style="background-image: url(/Content/img/main/makarnalar.jpg)"></a>
                    <div class="text text-center pt-4">
                        <h3><a href="/Home/Makarna">Makarna</a></h3>
                        <p>Spagetti Bolonez, Spagetti Napolitan, Penne Arabiata, Mantı Çeşitleri </p>
                        <p><a href="/Home/Makarna" class="btn btn-primary btn-outline-primary">Sipariş Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-entry">
                    <a href="/Home/Icecekler" class="img" style="background-image: url(/Content/img/main/kahveler.jpg)"></a>
                    <div class="text text-center pt-4">
                        <h3><a href="/Home/Icecekler">Soğuk &amp; Sıcak İçecekler</a></h3>
                        <p>Cola, Ice Tea, Meyve Suyu, Enerji, Milk Shake, Meyveli Soda, Nescafe, Çay, Türk Kahvesi..</p>
                        <p><a href="/Home/Icecekler" class="btn btn-primary btn-outline-primary">Sipariş Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-entry">
                    <a href="/Home/Kokteyl" class="img" style="background-image: url(/Content/img/main/alkolluicecekler.jpg)"></a>
                    <div class="text text-center pt-4">
                        <h3><a href="/Home/Kokteyl">Kokteyller</a></h3>
                        <p>Sex On The Beach, Cuba Libre, Redberies, Paradise</p><br />
                        <p><a href="/Home/Kokteyl" class="btn btn-primary btn-outline-primary">Sipariş Ver</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

